* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: black;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
}

/* Landing Container */
#landing-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Doors */
.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #222, #111);
  z-index: 10;
  transition: transform 2s ease-in-out;
}

.left-door {
  left: 0;
  border-right: 2px solid #0ff;
}

.right-door {
  right: 0;
  border-left: 2px solid #0ff;
}

/* Computer Screen */
.computer-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: #000;
  border: 2px solid #0ff;
  color: #0ff;
  text-align: center;
  z-index: 11;
  font-size: 1.5rem;
}

/* Main Content */
#main-content {
  height: 200vh;
  top: 40%;
  background: linear-gradient(to bottom, #000, #111);
  padding: 5rem;
}
#lower-content {
    height: 200vh;
  background: linear-gradient(to bottom, #000, #111);
  padding: 5rem;
}
